<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width">
        <title>Not OP.GG</title>
    </head>
    <body>
        <form action="/summoner" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Summoner Name" type="text">
            <select name="server">
                <option disabled selected>Server</option>
                <option value="EUNE">EUNE</option>
                <option value="EUW">EUW</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </body>
</html>